.CRUD-no-settings {
  margin: auto;
  width: max-content;
  max-width: 50%;
  min-width: 200px;
}

.CRUD-map {
  flex-grow: 1;
  
  .interactive-map {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    z-index: 1;
  }

  .mapboxgl-canvas {
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }

  &--is-resizing {
    .mapboxgl-canvas {
      width: 100% !important;
      opacity: 0;
      filter: blur(1rem);
    }
  }
}

.CRUD-no-map {
  position: absolute;
  top: 0;
}

.CRUD-table {
  position: relative;
  flex-shrink: 0;
  padding: 0;
  height: 0;
  transition: height .2s ease-in;
  display: flex;
  margin-top: auto;
  overflow: hidden;
  &--medium {
    height: calc(100% / 3);
    ~ .CRUD-map .interactive-map {
      .mapboxgl-ctrl-bottom-left,
      .mapboxgl-ctrl-bottom-right {
        bottom: calc(100% / 3);
      }
    }
  }
  &--full {
    height: 100%;
  }
  &--minified {
    height: 3rem;
    ~ .CRUD-map .interactive-map {
      .mapboxgl-ctrl-bottom-left,
      .mapboxgl-ctrl-bottom-right {
        bottom: 3rem;
      }
    }
    .table-header + *,
    .table-footer {
      display: none;
    }
  }

  .table-container {
    background:  #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;

    .table {
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
  }
}

