.rst__customWrapper {
  min-width: '35em';
  min-height: 400;
  padding: 1em;
}

.rst__rowWrapper {
  padding: .25em .25em .25em 0;
}

.rst__tree {
  margin-bottom: .5em;
}

.treeGroup {
  .rst__rowContents {
    background-color: rgba(black, .1);
  }

  .rst__moveHandle {
    background-image: url(../assets/CheckBox.svg);
    background-color: white;
    background-size: 1.5em;
    &:hover {
      background-color: #f3f3f3;
    }
  }

  &Exclusive {
    .rst__moveHandle {
      background-image: url(../assets/RadioButton.svg);
    }
  }
}
