.rst__rowWrapper {
  padding: .25em .25em .25em 0;
}

.rst__nodeContent {
  right: 0;
}

.rst__customToolbar {
  margin-bottom: .5em;
  text-align: right;
}

.treeGroup {
  .rst__rowContents {
    background-color: rgba(black, .1);
  }

  .rst__moveHandle {
    background-image: url(../assets/CheckBox.svg);
    background-color: white;
    background-size: 1.5em;
    &:hover {
      background-color: #f3f3f3;
    }
  }

  &Exclusive {
    .rst__moveHandle {
      background-image: url(../assets/RadioButton.svg);
    }
  }

  &ByVariable {
    .rst__moveHandle {
      background-image: url(../assets/List.svg);
    }
  }
}
