// Colors

// -- Base
$grey-light: #ebebeb;

// -- Component
$main-color: #394b59;
$main-color-active: darken( $main-color, 8% );
$main-color-hover: saturate( $main-color, 20% );

$secondary-color: #293742;

$input-grey-blue: #212D36;
$button-action: #425360;


// Classes

// -- Override Blueprintjs Tabs
.override-tabs-bp3 {
  &.bp3-tabs {
    background-color: $secondary-color;
    color: #fff;
  }

  .bp3-tab {
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    width: 50%;
    margin: 0;
    height: 45px;
    padding-top: 10px;
    align-items: baseline;

    &-list {
      background: rgba(255, 255, 255, 0.1);
      justify-content: space-around;
    }

    &-panel {
      margin-top: 0;
    }

    &:hover {
      color: #fff;
    }

    &-indicator-wrapper {
      width: 50% !important;
      height: 45px !important;
      z-index: 2;

      .bp3-tab-indicator {
        background-color: #fff;
        width: 50%;
        margin-left: 25%;
      }
    }

    &[aria-selected="true"] {
      transition: all 200ms cubic-bezier(0.4, 1, 0.75, 0.9);
    }
  }
}
