@import "../../../variables.scss";

.search {
  width: 300px;
  flex: none;
  color: #fff;
  font-size: 0.9em;
  background-color: $secondary-color;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);

  // Override Blueprintjs Tabs
  @extend .override-tabs-bp3;
}

