.CRUD-details {
  position: absolute;
  top: 0;
  bottom: 0;
  right:0;
  width: 40%;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 50px);
  transform: translateX(101%);
  transform: translateX(calc(100% + 0.5rem));
  transition: transform 0.2s ease-in;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  
  &--active {
    transform: translateX(0);

    ~ .CRUD-map .interactive-map {
      .mapboxgl-ctrl-top-right,
      .mapboxgl-ctrl-bottom-right {
        right: 20rem;
      }
    }
  }

  &--full {
    width: 100%;
    background: #fff;
    border-left: 1px solid #efefef;
  }
  
  &__metas {
    text-align: right;
  }

  &__content {
    display: flex;
    flex: auto;
    overflow: auto;
    margin: 0 0 1rem;
    justify-content: center;
  }
}

.details {
  flex: auto;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-content: center;
  }

  &__menu {
    margin-bottom: 1rem;
  }

  &__title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
  }

  &__content {
    display: flex;
    flex: auto;
    flex-direction: column;
    overflow: auto;
    padding: 0 1rem;
    .bp3-tabs {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: auto;
    }
    .bp3-tab-list {
      flex-wrap: wrap;
    }
    .bp3-tab-panel {
      overflow: auto;
    }
  }

  &__RTE {
    ol, ul {
      padding: 0 1rem !important;
    }
    ul {
       list-style: disc !important;
    }
  }

  &__table {
    width: calc(100% + 0.6rem + 2px);
    margin: calc(-0.3rem - 1px);
    border-collapse: collapse;
    td, th {
      border: 1px solid #ccc;
      padding: 0.3rem;
    }
  }

  &__text {
    white-space: pre-wrap;
  }

  &__subtitle {
    margin-top: 0;
  }

  &__list {
    display: table;
    flex: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    max-height: 100%;
  }

  &__list-item {
    display: table-row;

    &:nth-child(odd) {
      background: #efefef;
    }

    > * {
      display: table-cell;
      padding: 0.3rem;
      border: 1px solid #ccc;
    }

    img {
      max-width: 100%;
    }
  }

  &__list-value {
    overflow-wrap: anywhere;
    word-break: break-word;
    
    &--empty {
      opacity: 0.6;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: auto;
    padding: 1rem 0 0;
    .bootstrap-inside & {
      padding-right: 1rem;
      padding-left: 1rem;
    }
    > * + * {
      margin-left: 1rem !important; // Cause of bootstrap override
      width: auto;
    }
    &-delete {
      margin-right: auto;
    }
    &-cancel-text {
      display: none;
    }
  }

  &__confirm-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    > button + button {
      margin-left: 1rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 -1rem;
    flex: auto;
    > .form-group {
      padding: 0 1rem;
      overflow: auto;
    }

    fieldset fieldset legend {
      font-size: 1rem;
    }

    .field-array-of-object > legend {
      // Copy of label styles from Bootstrap
      font-size: 14px;
      font-weight: bold;
    }

    .form-group {
      input[type=date] {
        padding-top: 0;
      }
    }

    .bp3-callout {
      margin-bottom: 1rem;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
  src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.bootstrap-inside {
  @import "~bootstrap/dist/css/bootstrap.min";
  textarea {
    resize: vertical;
  }
}

@media all and (min-width: 66em) {
  .CRUD-details {
    &--active {
      ~ .CRUD-map .interactive-map {
        .mapboxgl-ctrl-top-right,
        .mapboxgl-ctrl-bottom-right {
          right: calc(40%);
        }
      }
    }
  }
}

@media all and (min-width: 80em) {
  .details {
    &__actions {
      &-cancel-text {
        display: block;
      }
    }
  }
}
