.CRUD-details {
  position: absolute;
  top: 0;
  bottom: 0;
  right:0;
  width: 40%;
  min-width: 26rem;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 50px);
  transform: translateX(101%);
  transform: translateX(calc(100% + 0.5rem));
  transition: transform 0.2s ease-in;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  
  &--active {
    transform: translateX(0);
    ~ .CRUD-map .interactive-map {
      .mapboxgl-ctrl-top-right,
      .mapboxgl-ctrl-bottom-right {
        right: 26rem;
      }
    }
  }

  &--full {
    width: 100%;
    border-left: 1px solid #efefef;
  }
  
  &__metas {
    text-align: right;
  }

  &__content {
    display: flex;
    flex: 1 1 auto;
    overflow-y: auto;
    justify-content: center;
  }
}

.details {
  flex: auto;
  display: flex;
  flex-direction: column;
  min-width: 0;

  &__header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-content: center;
    flex-shrink: 0;
  }

  &__header-title {
    display: flex;
    align-items: center;
    button {
      margin-right: 0.5rem;
    }
  }

  &__menu {
    height: auto;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    .bp3-navbar-group {
      height: auto;
      flex-wrap: wrap;
    }
    .bp3-icon {
      display: none;
    }
  }

  &__delete-feature {
    .bp3-icon {
      display: block;
      margin-right: 0;
    }
    .bp3-button-text {
      display: none;
    }
  }

  &__title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
  }

  &__content {
    display: flex;
    flex: auto;
    flex-direction: column;
    overflow: auto;
    .bp3-tabs {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
    }
    .bp3-tab-list {
      flex-wrap: wrap;
      padding: 0 1rem 1rem;
      box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2);
      z-index: 1;
    }
    .bp3-tab-panel {
      flex-grow: 1;
      overflow-y: auto;
      margin-top: 0;
    }
  }

  &__RTE {
    ol, ul {
      padding: 0 1rem !important;
    }
    ul {
       list-style: disc !important;
    }
  }

  &__table {
    display: block;
    overflow-x: auto;
    table {
      width: 100%;
      border-collapse: collapse;
    }
    td, th {
      border: 1px solid #ccc;
      padding: 0.3rem;
    }
    &-help {
      font-weight: normal;
      font-size: 0.8rem;
    }
  }

  &__text {
    white-space: pre-wrap;
  }

  &__object-group {
    display: flex;
    margin: 0 0 0.2rem;
  }

  &__object-key {
    flex-shrink: 0;
    margin-right: 0.2rem;
  }

  &__subtitle {
    margin-top: 0;
  }

  &__list {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  &__list-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    &:hover,
    &--active {
      background: #e9f1f5;
    } 
    &--inactive {
      opacity: 0.6;
    }
  }

  &__list-label {
    display: block;
    padding-bottom: 0.1rem;
    color: #5b7080;
  }

  &__list-value {
    padding-bottom: 1rem;
    img {
      max-width: 100%;
    }
  }

  &__list-item--active &__list-value {
    visibility: hidden;
  } 

  &__list-create {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }

  &__list-edit {
    display: none;
    right: 0;
    top: 0;
    position: absolute;
  }

  &__list-edit-action {
    display: flex;
    align-items: center;
  }

  &__list-edit-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__list-edit-mandatory {
    font-size: 0.8rem;
    color: #666;
    &::before {
      content: "* ";
    }

    &--create {
      margin-top: 0.5rem;
    }
    &--edit {
      position: absolute;
      top: 0.4rem;
      right: 2.4rem;
    }

  }

  &__list-item:hover &__list-edit {
    display: block;
  }

  &__list-item--active &__list-edit {
    display: block;
    left: 0;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background: #e9f1f5;
    z-index: 1;
  }

  &__confirm-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    > button + button {
      margin-left: 1rem;
    }
    strong {
      white-space: nowrap;
    }
  }

  form:not[class] {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 -1rem;
    flex: auto;
    > .form-group {
      padding: 0 1rem;
      overflow: auto;
    }

    fieldset fieldset legend {
      font-size: 1rem;
    }

    .field-array-of-object > legend {
      // Copy of label styles from Bootstrap
      font-size: 14px;
      font-weight: bold;
    }

    .form-group {
      input[type=date] {
        padding-top: 0;
      }
    }

    .bp3-callout {
      margin-bottom: 1rem;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}

@media all and (min-width: 81em) {
  .CRUD-details {
    &--active {
      ~ .CRUD-map .interactive-map {
        .mapboxgl-ctrl-top-right,
        .mapboxgl-ctrl-bottom-right {
          right: 40%;
        }
      }
    }
  }
}

@media all and (min-width: 100em) {
  .CRUD-details {
    .details__menu {
      .bp3-icon {
        display: block;
      }
    }
  }
}
