@import "../../variables.scss";

.nav-layout__content {
  display: flex;
  flex-direction: row;

  .page {
    &--title,
    &--content {
      padding: 1%;
    }
  }
}

.viewpoint-list {
  width: 100%;

  .page--content {
    display: flex;
    align-items: stretch;
    align-content: flex-start;
    flex-wrap: wrap;

    .card-link {
      display: flex;
      flex: 0 1 25%;
      padding: .5em;
      text-decoration: none;
    }

    .card-card {
      width: 100%;
      padding: 1em;

      display: flex;
      flex-direction: column;
      justify-content: stretch;
    }

    .card-picture {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    .card-body {
      padding: 1em 0 0 0;
      display: flex;
      align-items: center;
      flex: 1 1 25%;
    }

    .card-title {
      margin: 0;
    }
  }
}

.pagination {
  width: 100%;
  text-align: center;

  li {
    display: inline-flex;
    padding: 0.2em 1em;

    &.previous,
    &.next {

      &.disabled {
        opacity: 0.2;

        a {
          cursor: not-allowed;
          text-decoration: none;
        }
      }
    }

    &.active {
      background-color: $grey-light;

      a  {
        font-weight: 600;
      }
    }
  }
}
