.page {

  &--title,
  &--content {
    padding: 1%;
  }

}

.card-link--add {
  background-color: #30404d;
  padding: 20px;
  width: 18%;
  margin: 1%;

  .item--add {
    box-shadow: unset;
    background-color: #30404d;
    text-align: center;
    color: #fff;
    font-weight: bold;

    &:hover {
      box-shadow: unset;
    }
  }
}


.viewpoint-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;

  .card-link {
    width: 18%;

    .bp3-card {
      margin: 1%;
      border-color: transparent;
      box-shadow: none;

      h3 {
        margin: 0.5em 0;
      }

      img {
        max-width: 100%;
      }
    }
  }
}
