.table-header {
  display: flex;
  min-height: 3rem;
  align-items: center;
  justify-content: space-between;
  
  &__title {
    display: flex;
    align-items: center;
    strong {
      margin-left: 0.2rem;
    }
  }

  &__spinner {
    margin-right: 0.2rem;
  }

  &__create {
    margin-left: 0.5rem;
  }

  &__resize {
    > button {
      margin: 0 0.1rem;
    }
  }
}
