.attachment-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  
  &__item {
    margin: 1rem 0.5rem;
    width: calc(33.333% - 1rem);
  }
}

.attachment-item {
  padding: 0;
  position: relative;

  &__figure {
    margin: 0;
  }
  
  &__file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 190px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__figcaption {
    padding-top: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__figcaption-text {
    font-size: 0.8rem;
    line-height: 1.3;
    font-weight: 500;
    word-break: break-all;
    word-wrap: anywhere;
  }

  &__delete {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__bt-delete {
    background: rgba(255, 255, 255, 0.6) !important;
    &:hover,
    &:focus {
      background: #fff !important;
    }
  }
}
