.nav-layout__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #394b59;

  .navbar__mainMenu {

    .active {
      button {
        background-color: #253748;
      }
    }

    button {
      background-color: #394b59;
      background-image: none;
      margin-bottom: 10px;

      &:hover {
        text-decoration: none;
        background-color: #35729f;
        color: #ffffff;
      }
    }

    img {
      width: 22px;
      height: auto;
    }
  }

  .navbar__logo {
    .logo {
      width: 50px;
      margin: 10px;
    }
  }
}
