@import "~@blueprintjs/core/src/components/forms/common";

.CRUD-edit {
  .geometry-field {
    text-align: center;
    &__or {
      display: flex;
      width: 100%;
      align-items: center;
      margin: 1rem 0;
      span {
        padding: 0 0.5rem;
      }
      &::before,
      &::after {
        content: "";
        flex-grow: 1;
        margin-top: 2px;
        border-top: 1px solid #ddd;
      }
    }
    &__col {
      border: solid #ddd;
      border-width: 1px 0;
      margin: 0.5rem 0;
      padding: 1rem 0;
    }

    &__row {
      padding: 0.5rem;
    }
    &__message {
      max-width: max-content;
      margin: auto;
    }
    .control-label {
      font-size: 1.1rem;
    }
  }
  .mapbox-gl-draw_ctrl-draw-btn {
    display: inline-block;
    background-color: #fff;
    margin: 0 2px;
    width: 29px;
    height: 29px;
    vertical-align: middle;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }
}

.details__list-edit {
  .geometry-field {
    &__col {
      margin-top: 1.8rem;
    }
  }
}

.mapbox-gl-path-container {
  display: flex;
  align-items: center;
  pointer-events: auto;
  user-select: none;
  background-color: #ffffff;
  color: #182026;
  padding: 4px 6px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

  input {
    margin-right: 4px;
  }

  select {
    margin-left: 8px;
  }
}

.mapbox-gl-path-popup {
  button {
    appearance: none;
  }
}
.mapboxgl-popup-close-button {
  @include pt-button-base();
  & + button {
    margin-top: 1.3rem;
  }
}
.mapbox-gl-path-popup-button {
  margin: 0.3rem 0;
  @include pt-button-base();
  @include pt-button-height($pt-button-height);
  @include pt-button();
}
