.rando-details {
  position: relative;
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin-right: -20rem;
  transition: margin 0.2s ease-in;
  &--visible {
    margin-right: 0; 
  }
  
  &__close {
    text-align: right;
  }

  &__content {
    padding: 1rem;
    flex: auto;
    overflow-y: auto;
  }

  .details {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      font-size: 1.1rem;
      text-transform: uppercase;
      font-weight: 300;
    }

    &__subtitle {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ccc;
    }

    &__list {
      width: 100%;
      padding: 0;
      display: table;
      border-collapse: collapse;
    }

    &__list-item {
      display: table-row;

      &:nth-child(odd) {
        background: #efefef;
      }

      > * {
        display: table-cell;
        padding: 0.3rem;
        border: 1px solid #ccc;
      }
    }

    &__list-value {
      overflow-wrap: anywhere;
      word-break: break-word;
      
      &--empty {
        opacity: 0.6;
      }
    }
  }

  // Below from bootstrap
  fieldset {
    // Browsers set a default `min-width: min-content;` on fieldsets,
    // unlike e.g. `<div>`s, which have `min-width: 0;` by default.
    // So we reset that to ensure fieldsets behave more like a standard block element.
    // See https://github.com/twbs/bootstrap/issues/12359
    // and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
    min-width: 0;
    // Reset the default outline behavior of fieldsets so they don't affect page layout.
    padding: 0;
    margin: 0;
    border: 0;
  }
}

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/forms";
