$table_height: '1 / 3'; // = 33%

.rando-map {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .mapboxgl-canvas {
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }

  &--is-resizing {
    .mapboxgl-canvas {
      width: 100% !important;
      opacity: 0;
      filter: blur(1rem);
    }
  }

  &__map {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__table {
    position: relative;
    flex-shrink: 0;
    padding: 0;
    height: 0;
    transition: height .2s ease-in;
    display: flex;
    &--active {
      height: calc(100% * #{$table_height});
    }

  }
}

.table-container {
  background:  #fff;
  transition: transform .2s ease-in;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow-y: hidden;

  &--full {
    transform: translateY(calc(100% * #{$table_height} * -2));
    height: 300%;
  }

  &--is-resizing {
    transform: translateY(0);
    height: 300%;
  }

  .table {
    display: flex;
    flex-direction: column;
  }
}
