.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1 0 auto;

  &-content {
    max-width: calc(100vw - 15px);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    > * {
      flex: 1 0 auto;
    }
  }

  &-footer {
    text-align: center;
  }

  &-container {
    display: flex;
    flex: 1 0 auto;
    align-items: stretch;
  }
  &-content {
    flex: auto;
  }

  & .login-form {
    display: flex; 
    flex-direction: column;
    width: 20rem;
  }

  & .login-form__separator {
    margin: 6px;
    text-align: center;
  }
}

.layout {
  min-width: unset !important;
}

#main-content {
  width: 100%;
}
