@import "~@blueprintjs/core/src/components/forms/common";


.importFile {
  position: relative;
  margin: 1rem 0;
  text-align: center;
  &--opened {
    border: 1px solid #eaeaea;
    background: #fafafa;
  }
  .uppy-Root {
    position: relative;
    z-index: 1;
    &.uppy-Dashboard--isAddFilesPanelVisible {
      z-index: 2;
    }
  }
  .uppy-Dashboard-inner {
    background: none;
    margin: auto;
    border-radius: inherit;
    border: 0;
  }

  .uppy-Dashboard-innerWrap {
    overflow: inherit;
  }

  .uppy-DashboardContent-bar {
    margin-top: 0.5rem;
    border: 1px solid #eaeaea;
  }

  .uppy-size--md .uppy-Dashboard-files {
    margin-bottom: 65px;
  }

  &__bt-import {
    &--cancel {
      display: block;
      margin-left: auto;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  &__category {
    border-top: 1px solid #eaeaea;
    height: 65px;
    position: absolute;
    bottom: 66px;
    left: 0;
    right: 0;
    opacity: 0;
    &--active {
      z-index: 1;
      opacity: 1;
    }
    .bp3-label {
      display: none;
    }
    .bp3-form-helper-text {
      white-space: nowrap;
    }
  }

  .uppy-c-btn.uppy-c-btn {
    @include pt-button-base();
    @include pt-button-height($pt-button-height);
    @include pt-button();
    padding: 5px 10px !important;
    
    &:disabled{
      cursor: not-allowed;
    }
    @each $intent, $colors in $button-intents {
      &.uppy-c-btn-#{$intent} {
        @include pt-button-intent($colors...);
      }
    }

  }
  .uppy-StatusBar-actionBtn--retry svg{
    position: static;
    margin-right: 7px !important;
  }
}

@media all and (min-width: 105em) {
  .importFile {
  
    &__category {
      .bp3-label {
        display: block;
      }
    }
  
  }
}
