@import "~@blueprintjs/core/src/components/forms/common";


.importFile {
  position: relative;
  border: 1px solid #eaeaea;
  background: #fafafa;

  &__category {
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    font-weight: 600;
  }
  
  .uppy-Root {
    position: relative;
    text-align: center;
    z-index: 1;
    &.uppy-Dashboard--isAddFilesPanelVisible {
      z-index: 2;
    }
  }
  .uppy-Dashboard-inner {
    background: none;
    margin: auto;
    border-radius: inherit;
    border: 0;
  }

  .uppy-Dashboard-innerWrap {
    overflow: inherit;
  }

  .uppy-DashboardContent-bar {
    margin-top: 0.5rem;
    border: 1px solid #eaeaea;
  }

  .uppy-size--md .uppy-Dashboard-files {
    margin-bottom: 65px;
  }

  .uppy-c-btn.uppy-c-btn {
    @include pt-button-base();
    @include pt-button-height($pt-button-height);
    @include pt-button();
    padding: 5px 10px !important;
    
    &:disabled{
      cursor: not-allowed;
    }
    @each $intent, $colors in $button-intents {
      &.uppy-c-btn-#{$intent} {
        @include pt-button-intent($colors...);
      }
    }

  }
  .uppy-StatusBar-actionBtn--retry svg{
    position: static;
    margin-right: 7px !important;
  }
}
