.form-create {

  div.bp3-disabled {
    display: none
  }

  .coordinate {
    height: 50vh;
    margin: 0 0 15px;
  }

  .input-map {
    position:relative;
    width: 100%;
    height: 100%;
  }
}
