@import "~@blueprintjs/core/src/components/forms/common";

.CRUD-edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  &--vertical {
    flex-direction: column;
    align-items: stretch;
  }
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  .error-list {
    margin: 0.5rem 1.5rem 1rem 0;
  }
  .control-label {
    display: block;
    margin-bottom: 0.2rem;
  }
  .form-group {
    margin-top: 0.4rem;
    margin-right: 0.2rem;
    flex-grow: 1;
    min-width: 0;
    &:first-child {
      margin-top: 0;
    }
    > * {
      width: 100%;
    }
  }
  .checkbox,
  .field-boolean {
    margin-top: 0.3rem;
    input {
      margin-right: 0.3rem;
    }
  }
  .radio-inline {
    margin-right: 1rem;
  }
  .field-radio-group {
    margin: 0.5rem 0
  }
  input {
    &[type=text],
    &[type=date],
    &[type=number] {
      @include pt-input();
    }
    &:disabled,
    &:read-only {
      @include pt-input-disabled();
    }
    @include pt-input-placeholder();
  }
  select {
    @include pt-input();
    padding-right: 1rem;
    // Background below is the base 64 transformation of:
    // <svg viewBox="0 0 10 10">
    //   <polygon fill="#5c7080" points="5 0, 10 4, 0 4"/>
    //   <polygon fill="#5c7080" points="5 10, 10 6, 0 6"/>
    // </svg>
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAgMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICA8cG9seWdvbiBmaWxsPSIjNWM3MDgwIiBwb2ludHM9IjUgMCwgMTAgNCwgMCA0Ii8+ICA8cG9seWdvbiBmaWxsPSIjNWM3MDgwIiBwb2ludHM9IjUgMTAsIDEwIDYsIDAgNiIvPjwvc3ZnPg==);
    background-position: calc(100% - 0.3rem) 50%;
    background-repeat: no-repeat;
    background-size: 0.6rem;
  }
  .help-block {
    opacity: 0.8;
  }
  .error-detail {
    padding: 0.2rem 0 0 1rem;
    color: red;
  }
  .field-array {
    legend {
      font-weight: bold;
      margin-bottom: 0.4rem;
    }
    .array-item,
    .array-item-add {
      display: flex;
      margin: 0.5rem 0 0;
      // Fields
      .col-xs-9 {
        flex-grow: 1;
      }
      // Controls
      .col-xs-3 {
        flex-shrink: 0;
      }
      .btn {
        @include pt-button-base();
        @include pt-button-height($pt-button-height);
        @include pt-button();
        margin-left: 0.2rem;
        
        &:disabled,
        &.#{$ns}-disabled {
          cursor: not-allowed;
        }
        &::before {
          margin: 0;
          color: #5c7080;
        }
        &.array-item-move-up::before {
          content: "↑"
        }
        &.array-item-move-down::before {
          content: "↓"
        }
        &.array-item-remove::before {
          content: "⨯";
          font-size: 1.5rem;
          margin-top: -0.5rem;
        }
        &.btn-add::before {
          content: "+";
          font-size: 1.1rem;
          margin-top: -0.3rem;
        }
        i {
          display: none;
        }
      }
    }
    .field-array-of-object .array-item-toolbox {
      padding-top: 1.3rem;
    }
  }
  .field-error .form-control {
    border: 1px solid #c23030;
  }
  &__submit {
    flex-shrink: 0;
    .details__list-create & {
      margin: 1rem 0.5rem 0 auto;
    }
  }
}
