.attachment {
  width: 100%;
  flex-grow: 1;

  &__header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
  }

  &__bt-import {
    text-align: center;
  }

  .bp3-tab-panel {
    .bp3-navbar {
      border-top: 1px solid #efefef;
      background: #f6f6f6;
      button {
        margin-right: 1rem;
      }
    }
  }
  &-list {
    margin: -1rem 0;
    padding: 0;
    width: 100%;
  }
  &__item {
    margin: 1rem 0;
    list-style: none;
  }
  &__figure {
    margin: 0;
  }
}

.attachmentOverlay {
  .bp3-overlay-content {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    max-width: 40rem;
    width: 100%;
  }

  &__content {
    border: solid #efefef; 
    border-width: 1px 0;
  }

  &__close {
    display: block;
    margin: 0.3rem;
    margin-left: auto;
  }

  &__actions {
    display: flex;
    padding: 1rem 0 0;
    justify-content: space-between;
  }
}
