@import "~quill/dist/quill.snow.css";

.ql-snow .ql-tooltip {
  top: 100% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 1;
}

// Rewrite placeholder styles to keep itself in the "textarea"
.ql-editor {
  min-height: 2.5rem;
}
.ql-editor.ql-blank::before {
  content: none;
}

.ql-editor.ql-blank::after {
  color: rgba(0,0,0,0.6);
  content: attr(data-placeholder);
  font-style: italic;
  pointer-events: none;
  display: block;
  margin-top: -1.72rem;
}

@supports (--custom: properties) {
  .ql-snow .ql-tooltip[data-mode="link"]::before {
    content: var(--quill-linkLabel);
  }
  .ql-snow .ql-tooltip.ql-editing a.ql-action::after {
    content: var(--quill-linkSave);
  } 
}

.RTEField {
  position: relative;

  &__input {
    background:  #fff;
  }

  &__inputHidden {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: -1;
  }
}
