.table {
  &__cell-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .bp3-table-truncated-text {
      height: 100%;
    }
  }

  &__cell-popover {
    display: block;
    height: 100%;
    
    .bp3-popover-target {
      display: block;
      height: 100%;
      padding: 0 10px;
    }

  }

  &__cell-target {
    display: block;
    min-height: 100% !important;
    background: none !important;
  }

}
