.bp3-portal {

  .bp3-overlay {

    &.bp3-overlay-open {
      width: 100vw;
      height: 100vh;

      .input-map {
        position:relative;
        width: 80%;
        height: 80%;
        z-index:21;
        margin: 10%;
      }
    }
  }
}
