.CRUD-nav {
  display: flex;
  flex-direction: column;
  width: 64px;
  max-height: calc(100vh - 50px);
  
  &--active {
    width: 260px;
  }

  &__button {
    padding: 0.7rem 1rem 0;
    text-align: right;
  }
  
  &__menu {
    &#{&} {
      flex: auto;
      position: relative;
      padding: 0 1rem 1rem;
    }
  }

  .bp3-icon {
    width: 20px;
    height: 20px;
    margin-right: 7px;
  }

  &__icon {
    max-width: 100%;
  }

  &__group:not(:first-child) {
    padding-top: 1rem;
  }

  &__group-name,
  &__link {
    position: relative;
    display: inline-block;
    min-width: 228px;
  }

  &__group-name {
    > .bp3-icon {
      display: none;
    }
  }

  &__group-text,
  .bp3-button-text {
    position: relative;
    opacity: 0;
  }

  &__link {
    &:hover,
    &:focus {
      outline: none;
      position: relative;
      z-index: 100;
      .bp3-button {
        background: #e4e9ed !important;
      }
      .bp3-button-text {
        opacity: 1;
      }
    }
  }

  &__group-name::before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    left: -1rem;
    border-bottom: 1px solid #e8e8e8;
    display: block;
  }

  &--active {
    .CRUD-nav__group-text,
    .bp3-button-text {
      opacity: 1;
      width: auto;
    }
    .CRUD-nav__group-name {
      &::before {
      display: none;
      }
      > .bp3-icon {
        display: inherit;
      }
    }
  }
}
